.btn-group{
    position:absolute;
    background-color: blue; /* Green background */
    border: 1px solid green; /* Green border */
    color: white;
    padding: 10px 100px; 
    cursor: pointer; 
    float: left;
}
.btn-group-button{
    text-align: right;
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: blue;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left;
}